@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

html,
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: relative;
  max-width: 100%;
  height: 100vh;
  /* aspect-ratio: 1920 / 1204; */
  background-color: #c4c4c4;
  color: #fff;
}

.header-slider {
  width: 100%;
  height: 100%;
}

.header-slider__item {
  position: relative;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-slider__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    181.06deg,
    rgba(0, 0, 0, 0.2) 0.91%,
    rgba(255, 255, 255, 0) 116.71%,
    rgba(255, 255, 255, 0) 116.72%
  );
}

.header-slider__img-bg {
  width: 100%;
  height: 100%;
}

.header__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-bottom: 82px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header Nav */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 48px;
  padding-left: 76px;
  padding-right: 82px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 11px;
}
.nav {
  display: flex;
  column-gap: 65px;
  /* justify-content: space-between; */
  /* align-items: center; */

  font-weight: 600;
  font-size: 18px;
}

.nav__link {
  color: #fff;
}
.extra-nav-btn {
}

/* Header Title */

.header-title {
  position: relative;
  text-align: center;
}

.header-title__small {
  position: absolute;
  top: -8px;
  width: 100%;
  
  font-weight: 500;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.55em;
}

.header-title__big {
  font-weight: 700;
  font-size: 250px;

  background: linear-gradient(
      21deg,
      rgb(160, 160, 160) -3.87%,
      rgba(255, 255, 255, 0) 36.89%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
